body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;}

/*My styles*/

.snaky {
  position: relative;
  margin: 50px 20px;
}

.snaky-item {
  text-align: center;
  background: #999;
  position: absolute;
}

.snaky-item:before {
  content: attr(data-label);
}

.snaky-item:first-child,
.snaky-item:last-child {
    background: red;
}

.snaky-item-top-right,
.snaky-item-bottom-right {
    background: blue;
}

.snaky-item-top-right:after {
	height: 10px;
	width: 100%;
	
	position: absolute;
	bottom: -10px;
	left: 0;

	background: blue;
	content: "";
}

.snaky-item-top-left,
.snaky-item-bottom-left{
    background: yellow;
}

.snaky-item-top-left:after {
	height: 10px;
	width: 100%;
	
	position: absolute;
	bottom: -10px;
	left: 0;

	background: yellow;
	content: "";
}
​