.snaky {
  position: relative;
  width: 900px;
}

.snaky-item {
  text-align: center;
  background: #999;
  position: absolute;
}

.snaky-item:after {
  content: attr(data-label);
}

.snaky-item:first-child {
	background: blue;
}

.snaky-item:last-child {
	background: red;
}

.snaky-item-top-right {
	background: blue;
}

.snaky-item-bottom-right {
	background: red;
}

.snaky-item-top-left {
	background: yellow;
}

.snaky-item-bottom-left {
	background: green;
}
